{% extends 'base.html.twig' %}

{% block title %}Liste des aticle{% endblock %}

{% block body %}

    {% if notification is not null %}
        <div class="alert {{type_notif}}">{{notification}}</div>
    {% endif %}

    {{ app.session.set('notification', null) }}

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Articles</h1>
            <a href="{{ path('add_articles') }}" class="btn btn-success h-75">Ajouter</a>
        </div>
        <div class="row">

            {% for article in articles %}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">
                            {{ article.body|slice(1, 100)|raw }}
                            {% if article.body|length > 100 %}
                                ...
                            {% endif %}
                        </p>
                        <a href="{{ path('edit_article', {id_article: article.id}) }}" class="card-link">Modifier</a>
                        <a href="{{ path('view_article', {id_article: article.id}) }}" class="card-link">Voir</a>
                        <a href="{{ path('delete_article', {id_article: article.id}) }}" class="card-link">Delete</a>
                    </div>
                    </div>                
                </div>
            {% endfor %}

        </div>    
    
    </div>





{% endblock %}
